[user]
  name = Nate Young
  email = nate@figlyinc.com
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  glog = log --graph
  subr = submodule update --recursive
[push]
  default = simple
[core]
  excludesfile = /Users/n/.gitignore
[merge]
	tool = p4merge
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "p4merge"]
	path = /usr/local/bin/p4merge
[diff]
	submodule = log
